@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
  }
}

.links {
  font-size: 2em;
  text-align: center;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/* hotel index */
.hotels {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* room index */
.rooms_photos {
  width:65%;
  display:block;
  margin:auto;
}

/* body */
